
/* tag based css for commong styling */

body{
    margin: 0px;
    padding: 0px;
    background-color: #808080;
    font-family: sans-serif;
    color: grey;
}
p{
    margin: 0px;
    padding: 0px;
}
input{
    background-color: inherit;

}


/* input form css for taking input form user */

.container{
    margin-top: 0px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 30px;
}
#header{
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
}

.description{
    border-top: 1px solid lightgrey;
    padding: 10px 15px 15px 15px;
}
.description:hover{
    background-color: #eaedf0;
}
.description>input{
    margin-top: 3px;
}



.catagory-date{
    display: flex;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.catagory-date>div{
    width: 50%;
    padding: 10px 15px 0px;
}
.catagory-date>div>input{
    padding-bottom: 15px;
}
.catagory-date p{
    margin-top: 0px;
}
.catagory-date>div:first-child{
    border-right: 1px solid lightgrey;
    position: relative;
}
.catagory-date>div:hover{
    cursor: pointer;
    background-color: #eaedf0;
}
.catagory-date>div:first-child>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description>input , .catagory-date input{
    outline: none;
    border: 0px;
    width: 100%;
    color: grey;
}

/* dropdown for the catagory selection */

.dropdown-content{
    position:absolute;
    background-color: white;
    width: 100%;
    margin-left: -15px;
    border: 1px solid grey;
    box-sizing: border-box;
    margin-top: 16px;
    box-shadow: 0px 0px 2px 2px lightgrey;
    display: none !important;

}
.show{
    display: block !important;
}
.dropdown-content>ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 100%;
}
.dropdown-content>ul>li{
    padding: 0px;
    padding: 5px 0px;
    padding-left: 15px;
}
.dropdown-content>ul>li:hover{
    background-color: lightblue;
    cursor: pointer;
}
.catagory-date>div:nth-child(2n){
    padding-left: 15px;
}

/* buttons of addition and deletion */

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}


#inputForm , #submitForm{
    border: 0px;
    padding: 12px;
    background-color: #444;
    color: white;
    font-family: sans-serif !important;
    font-size: 1rem;
}
#inputForm:hover{
    background-color: rgb(43, 42, 42);
}

#submitForm{
    background-color: #ee351e;
    margin-left: 10px;
}
#submitForm:hover{
    background-color: #b42f1e;
}


/* Display content styling begins from here */

.row{
    border-top: 1px solid lightgrey;
    padding: 10px 0px;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row>div{
    display: flex;
    align-items: flex-start;
}
.input-lables{
    margin-left: 20px;
}
.icon-date-sub-description{
    margin-top: 4px;
    font-size: 0.85rem;
    color: #94a6a6;
}
.icon-date-sub-description>i{
    margin-right: 8px;
}

.show-catagory{
    border: 0px;
    width: 80px;
    height: 35px;
    background-color: tomato;
    color: white;
}
.delete-button{
    outline: none;
    color: white;
    width: 35px;
    height: 35px;
    background-color: tomato;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0.6;
}


/*css class used in Jquery in order to write it easilly */

.anchor-tag-enable{
    pointer-events: auto !important;
}


.strike-through{
    text-decoration: line-through;
    color: lightgrey !important;
}

.icon-date-color{
    color: #bac8c8 !important;
}





