body{
    margin: 0px;
    padding: 0px;
    background-color: #808080;
}
p{
    margin: 0px;
    padding: 0px;
}
.container{
    margin-top: 0px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}
#header{
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
}

.description{
    border-top: 1px solid lightgrey;
    padding: 10px 15px 15px 15px;
}
.description>input{
    margin-top: 3px;
}

input{
    outline: none;
    border: 0px;
    width: 100%;
}

.catagory-date{
    display: flex;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.catagory-date>div{
    width: 50%;
    padding: 10px 15px 0px;
}
.catagory-date>div>input{
    padding-bottom: 15px;
}
.catagory-date p{
    margin-top: 0px;
}
.catagory-date>div:first-child{
    border-right: 1px solid lightgrey;
    position: relative;
}
.catagory-date>div:first-child>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-content{
    position:absolute;
    background-color: white;
    width: 100%;
    margin-left: -15px;
    /* display: none !important; */

}
.dropdown-content>ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 100%;
}
.dropdown-content>ul>li{
    padding: 0px;
    padding: 5px 0px;
    padding-left: 15px;
}
.dropdown-content>ul>li:hover{
    background-color: lightblue;
}
.catagory-date>div:nth-child(2n){
    padding-left: 15px;
}






